*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("https://i1.faceprep.in/ProGrad/sky-moon-bg.png");
    height: 100vw;
    width: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

#astronaut1{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 500px;
}

#astronaut2{
    position: absolute;
    top: 30%;
    left: 30%;
    height: 425px;
}

form{
    position: absolute;
    top: 15%;
    left: 65%;
    background-color: white;
    width: 450px;
    padding: 0px 75px;
    border-radius: 5px;
}

.block-display{
    display: block;
}

label{
    font-size: 16px;
    margin: 20px 0px 4px 0px;
}

input[type="number"],
input[type="email"],
select{
    padding: 0 5px;
    height: 40px;
    width: 300px;
    border: 2px solid black;
}

#button{
    display: block;
    background-color: orange;
    border-radius: 20px;
    margin: 40px auto;
    padding: 15px 20px;
    border: none;
    color: white;
}

h1{
    text-align: center;
    margin: 20px auto;
}